html {
  font-family: Raleway, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

p {
  font-weight: 500;
}

.nav {
  text-decoration: none;
  color: #2a311f;
}

.nav:hover {
  font-weight: 900;
}

.nav-align {
  text-align: center;
}

.current {
  font-weight: 900;
}

.logo {
  max-width: 250px;
  margin: 0 auto;
}

.banner {
  background-image: url("../images/header-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.grey-text {
  color: #585858;
}

.light-grey-text {
  color: #f5f5f5;
}

.dark-grey-text {
  color: #2a311f;
}

.green-text {
  color: #435f59;
}

.white-text {
  color: #fff;
}

.btn-ghost {
  background-color: #fff;
  color: #585858;
  border: solid 5px #585858;
  border-radius: 100px;
}

.btn-ghost a {
  text-decoration: none;
  font-weight: bold;
}

.btn-ghost:hover {
  background-color: #9a9797;
  color: #fff;
  border-color: #585858;
}

.btn-ghost:hover a {
  color: #fff;
}

.btn-dark {
  background-color: #fff;
  color: #2a311f;
  border: solid 5px #2a311f;
  border-radius: 100px;
}

.btn-dark a {
  text-decoration: none;
  font-weight: bold;
}

.btn-dark:hover {
  background-color: #585858;
  color: #fff;
  border-color: #2a311f;
}

.btn-dark:hover a {
  color: #fff;
}

.btn-green {
  background-color: #404737;
  color: #f5f5f5;
  border: none;
}

.btn-green a {
  text-decoration: none;
  font-weight: 400;
}

.btn-green:hover {
  background-color: #8a9e90;
  color: #f5f5f5;
}

.btn-green:hover a {
  color: #f5f5f5;
}

.btn-cta {
  background-color: #fff;
  color: #435f59;
  border: solid 5px #585858;
  border-radius: 100px;
}

.btn-cta a {
  text-decoration: none;
  font-weight: bold;
}

.btn-cta:hover {
  background-color: #8a9e90;
  color: #f5f5f5;
  border-color: #435f59;
}

.btn-cta:hover a {
  color: #f5f5f5;
}

.btn-friend {
  background-color: #475a28;
  opacity: .75;
  color: #f5f5f5;
  border: none;
}

.btn-friend a {
  text-decoration: none;
  font-weight: 400;
}

.btn-friend:hover {
  background-color: #475a28;
  opacity: 1;
  color: #f5f5f5;
}

.btn-friend:hover a {
  color: #f5f5f5;
}

.btn-guardian {
  background-color: #6f957a;
  opacity: .75;
  color: #f5f5f5;
  border: none;
}

.btn-guardian a {
  text-decoration: none;
  font-weight: 400;
}

.btn-guardian:hover {
  background-color: #6f957a;
  opacity: 1;
  color: #f5f5f5;
}

.btn-guardian:hover a {
  color: #f5f5f5;
}

.btn-protector {
  background-color: #005242;
  opacity: .75;
  color: #f5f5f5;
  border: none;
}

.btn-protector a {
  text-decoration: none;
  font-weight: 400;
}

.btn-protector:hover {
  background-color: #005242;
  opacity: 1;
  color: #f5f5f5;
}

.btn-protector:hover a {
  color: #f5f5f5;
}

.story-card {
  background-color: #b0aeac;
}

.story-card-light {
  background-color: #f5f5f5;
}

.story-card-medium {
  background-color: #e3e3e3;
}

.animal-name-bg {
  background-color: #2a311f;
}

.cta-bg {
  background-image: url("../images/fox-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta-bg-2 {
  background-image: url("../images/bear-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta-bg-3 {
  background-image: url("../images/lion-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.email-tag {
  text-decoration: none;
  color: #fff;
}

.footer-bg {
  background-color: #2a311f;
  color: #fff;
}

.social-icon:hover {
  transform: scale(1.05);
  transition: all 150ms linear;
}

.card-bg {
  background-color: #fff;
  border: solid 8px #475a28;
  border-radius: 22px;
}

.card-bg-light {
  background-color: #fff;
  border: solid 8px #6f957a;
  border-radius: 22px;
}

.card-bg-dark {
  background-color: #fff;
  border: solid 8px #005242;
  border-radius: 22px;
}

.text-border {
  border-bottom: solid 4px #435f59;
}

@media only screen and (min-width: 38em) {

  .header-text {
    padding-left: 0;
    margin-left: 15px;
  }

  .logo {
    text-align: left;
    margin: 0;
  }

  .nav-align {
    text-align: right;
  }

  .icons {
    text-align: center;
  }

}
