html {
  font-family: "Nanum Myeongjo", serif;
  background-color: #2E4D52;
}

main {
  background-color: #EDD5C8;
}

.blah {
  display: none;
  visibility: hidden;
  color: #fff;
  font-family: "Black Han Sans", sans-serif;
}

nav {
  color: #fff;
  font-family: "Black Han Sans", sans-serif;
}

header, footer {
  background-color: #CC6C54;
}

h1 {
  color: #fff;
  font-family: "Black Han Sans", sans-serif;
}

.banner {
  background-image: linear-gradient(to bottom, rgba(187, 189, 189, 0.4), rgba(187, 189, 189, 0.4)), url("../images/homepage-fox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 52vh;
  background-position: top center;
}

.banner-2 {
  background-color: #2E4D52;
  background-image: linear-gradient(to bottom, rgba(46, 77, 82, 0.6), rgba(46, 77, 82, 0.6)), url("../images/homepage-wheat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  background-position: top center;
}

.text-w {
  color: #fff;
}

.my-button {
  background-color: #BBBDA8;
  border-color: #BBBDA8;
  color: #fff;
  border-radius: 100px;
  font-family: "Black Han Sans", sans-serif;
  left: 50%;
  transform: translateX(-50%);
}

.my-button:hover {
  background-color: #CC6C54;
  border-color: #CC6C54;
}

.why {
  background-color: #BBBDA8;
  border-color: #BBBDA8;
  color: #fff;
  border-radius: 100px;
  font-family: "Black Han Sans", sans-serif;
  text-decoration: none;
  color: #fff;
}

.why:hover {
  color: #fff;
  background-color: #CC6C54;
  border-color: #CC6C54;
}

footer {
  color: #fff;
}

li a {
  text-decoration: none;
  color: #fff;
  font-family: "Black Han Sans", sans-serif;
}

li a:hover {
  color: #2E4D52;
  background-color: #EDD5C8;
  border-radius: 100px;
}

li a:focus {
  outline: 3px solid #2E4D52;
}

li:hover {
  background-color: #EDD5C8;
  border-radius: 100px;
}

small {
  font-family: "Black Han Sans", sans-serif;
}

.opac-img {
  width: 80%;
}

.color-nav {
  background-color: #BBBDA8;
  border-radius: 100px;
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

label.nav-label::before {
  top: -15.1em;
}

.nav-label {
  cursor: pointer;
  top: -11px;
  right: 15px;
}

label.nav-label {
  display: inline-block;
  width: 50px;
}

.nav-open,
.nav-close {
  display: block;
  width: 50px;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.main-c {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.buut:hover {
  color: #2E4D52;
  background-color: #CC6C54;
}

.buutn:hover {
  background-color: #CC6C54;
}

.skip-links {
  position: absolute;
  top: -3em;
}

.frm,
.bigun {
  color: #2E4D52;
}

input {
  border-color: #fff;
  border-radius: 100px;
}

.special {
  border-color: #fff;
  border-radius: 100px;
}

.blo {
  font-family: "Black Han Sans", sans-serif;
}

.wow {
  background-color: #2E4D52;
  border-color: #2E4D52;
}

.wow:hover {
  background-color: #CC6C54;
  border-color: #CC6C54;
}

.my-buttonn {
  background-color: #2E4D52;
  border-color: #2E4D52;
  color: #fff;
  border-radius: 100px;
  font-family: "Black Han Sans", sans-serif;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
}

.my-buttonn:hover {
  background-color: #CC6C54;
  border-color: #CC6C54;
}

input[type=email],
input[type=text],
input[type=number],
input[type=tel],
select {
padding: 15px;
}

.text-box {
  color: #fff;
  background-color: #2E4D52;
  min-height:
}

@media only screen and (min-width: 38em) {

  .unique {
    padding-right: 1.5rem;
  }

}

@media only screen and (min-width: 48em) {

  .nav-label {
    right: 65px;
  }

  label.nav-label {
    width: 80px;
  }

  .nav-open,
  .nav-close {
    width: 80px;
  }

  .opac-img {
    width: 70%;
    padding-left: 70px;
  }

  .banner-2 {
    height: 60vh;
  }

  .blah {
    display: inline-block;
    visibility: visible;
  }

}

@media only screen and (min-width: 64em) {

  header {
    text-align: center;
  }

  .opac-img {
    width: 50%;
    display: inline;
    padding-left: 0;
    padding-right: 0;
  }

  .blu {
    padding-bottom: 0;
  }

  .nav-open,
  .nav-close {
    display: none;
    visibility: hidden;
  }

  .nav {
    display: inline-block;
    visibility: visible;
  }

  .nav li {
    display: inline-block;
  }

}
